body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 0%;
    background-color: #f2f2f2;
    scroll-behavior: smooth;
}
.header{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border:2px solid #ffffff; 
    border-radius: 60px;
    margin-bottom: 10px;
    height: 65px;
    
}
.log{
    font-size: 25px;
    color: #2b6777;
}
.log span{
    font-family: cursive;
    font-size: 65px;
    color: #fae596;
}
.nav-bar ul li{
    display: inline-block;
    margin-right: 10px;
    padding-right: 5px;
    font-size: 25px;
}
.nav-bar ul li :hover{
    background-color: #c8d8e4;
    border: 1px solid #c8d8e4;
    padding: 15px;
    border-radius: 5px;
}
.nav-bar ul li a{
    text-decoration: none;
    color: #2b6777;
}

.mob{
    display: none;
    }
    
    @media(max-width: 700px){
        /* .nav-bar ul li::after{
            width:0;
            content:'';
            background-color: blue;
            display: block;
            height: 2px;
            left: 0;
            right: 0;
            bottom: -10px;
            transition:0.5s;
            }
            .nav-bar:hover::after{
            width: 100%;
            } */
            .nav-bar ul li{
                display: block;
                }
                .nav-bar {
                position: absolute;
                /* position: sticky; */
                background:#c8d8e4 ;
                height: 100vh;
                width: 100%;
                top: 0;
                right:-100%;
                text-align: left;
                z-index:2 ;
                transition: 1s;
                }
.mob{
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
    }
    .nav-bar ul{
        padding: 30px;
        }
        .nav-bar ul li{
            margin: 20px;
        }
    }

.home{
    display: grid;
    grid-template-columns: 30% 70%;
    height:400px;
}
.right-side{
    background-color: #c8d8e4;
}
.right-side img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-top: 80px;
    margin-left: 70px;
    
}
.left-side{
    background-color: #2b6777;
    color: #ffffff;
    padding-left: 10px;
}
.left-side span{
    font-size: 40px;
    font-weight: bold;
}
.left-side button{
    background-color: #c8d8e4;
    color: #2b6777;
    width: 150px;
    height: 50px;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 50px;
}
@media(max-width: 768px) {
   .right-side img{
       margin-top: 80px;
       margin-left: 10px;
   }
   .home{
       height: 350px;
   }
}
@media(max-width: 700px){
    .home{
        display: block;
    }
    .right-side img{
      width: 250px;
    height: 250px;
    border-radius: 130px;
    }
}
@media(max-width: 320px){
    .right-side img{
        text-align: center;
        margin-left: 15px;
        margin-bottom: 30px;
    }
    
}


@media(max-width: 425px) {
    .right-side img{
        margin-left: 60px;
    }
    .home{
        height: 370px;
        
    }
}


/*--------------------------------------------------end of home---------------------------*/
.about{
    background-color: #2b6777;
}
.about h2{
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
    font-size: 36px;
    font-family: cursive;
}
.about h2 span{
    color: #fae596;
}
.info{
    padding-left: 30px;
    padding-bottom: 50px;
}
.info h3{
    color: #ffffff;
    font-size: 25px;
}
.about-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.info ul li{
    color: #ffffff;
    list-style: none;
    line-height: 30px;
    padding: 0px 0px 0px 0px;
    font-size: 18px;

}
.info ul{
    padding-left: 0px;
}
.info ul li span{
    color: #fae596;
    padding-right: 10px;
    
}
.summary .box1{
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    height: 135px;
}
.summary .box2{
    background-color:rgba(0,0,0,0.5);
    text-align: center;
}
.summary .box3{
    background-color: rgba(0,0,0,0.5);
    text-align: center;
}
.summary .box4{
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    height: 125px;
}
.summary{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding-bottom: 20px;
    padding-right: 20px;
}
.summary .box4{
    grid-column-start: 1;
    grid-column-end: 4;
}
.summary p{
    color: #ffffff;
}
.summary h3{
    color: #fae596;
}

@media(max-width: 700px){
    .about-info{
        display: block;
        padding-left: 15px;
    }
    .about{
        padding-top: 200px;
        margin-top: 80px;
    }
}
@media(max-width: 425px){
    .about{
        padding-top: 350px;
        margin-top: 80px;
    }
}
/*-----------------------------------------END OF ABOUT ME------------------------*/
.skills{
    background-color: #2b6777;
}
.skills h2{
    color: #ffffff;
    text-align: center;
    font-family: cursive;
    font-size: 36px;
}
.skills h2 span{
    color: #fae596;
}
.skills .summary{
    display: flex;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
}
.skills .summary .boxa{
    background-color:rgba(0,0,0,0.5);
    text-align: center;
    width: 150px; 
    border-radius: 15px;
}
.skills .summary .boxb{
    background-color:rgba(0,0,0,0.5);
    text-align: center;
    width: 150px; 
    border-radius: 15px;
}
.skills .summary .boxc{
    background-color:rgba(0,0,0,0.5);
    text-align: center;
    width: 150px; 
    border-radius: 15px;
}
.skills .summary .boxd{
    background-color:rgba(0,0,0,0.5);
    text-align: center;
    width: 150px;
    border-radius: 15px; 
}
.skills .summary .boxe{
    background-color:rgba(0,0,0,0.5);
    text-align: center;
    width: 150px; 
    border-radius: 15px;
}
.skills .summary .boxf{
    background-color:rgba(0,0,0,0.5);
    text-align: center;
    width: 150px; border-radius: 15px;
}
@media(max-width: 425px){
    .skills .summary{
        display:grid;
        grid-template-columns: 1fr 1fr;
        
    }
}
@media(max-width: 320px){
    .skills .summary{
        display: block;
        padding-left: 60px;
    }
}

    /*----------------------------------------end of my skills-------------------*/

/*project page*/
.project{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    }
    .project h2{
    font-size: 36px; 
    font-family: cursive ;
    color: #2b6777;
    
    }
     
    .project p{
    color: #2b6777;
    font-size: 14px;
    font-weight: 300;
    line-height:22px ;
    padding: 10px;
    }
    .row{
    margin-top: 5%;
    display:flex ;
    justify-content: space-between;
    }
    .project-col{
    flex-basis: 31%;
    background:#2b6777;
    border-radius: 10px;
    margin-bottom:5% ;
    padding:20px 12px ;
    box-sizing: border-box;
    transition: 0.5s;
    }
    .project-col h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    color: #ffffff;
    }
    .project-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.8);
    }
    @media(max-width: 700px){
    .row{
    flex-direction: column;
    }
    @media(max-width: 768px){
        .project-col{
           margin-left: 20px;
           margin-right: 20px;
        }
    }
    
    }
    /*end of project*/

     /*contact me page*/
     .contact-page{
        background-color: #2b6777;
        color: #ffffff;
     }
     .contact-page h2{
         text-align: center;
         padding-top: 20px;
         font-size: 36px;
         font-family: cursive;
     }
     .contact-page h2 span{
         color: #fae596;
     }
     .contact{
         display: grid;
         grid-template-columns: 40% 60%;
         padding: 20px;
     }
     .contact-info{
         padding-bottom: 60px;
     }
     .contact-info h3{
         font-size: 30px;
     }
     .contact-info a{
         color: #ffffff;
         text-decoration: none;
     }
     .contact-info i{
         padding-left: 10px;
         padding-right: 10px;
        font-size: 25px; 
     }
     .contact-info p{
         line-height: 1px;
         padding-left: 40px;
    }
    .contact-info b{
        line-height: 1px;
        padding-left: 0px;
        color: #fae596;
    }
     .contact-form{
         padding-top: 60px;
     }
     .contact-form input{
         padding: 10px;
         border-radius: 10px;
         background-color: #dddfd4;
     }
     .contact-form textarea{
        background-color: #dddfd4;
        border-radius: 10px;
     }

     @media(max-width: 700px){
.contact{
    display: block;
    text-align: center;
    padding-left: 10px;
}
.contact-form {
    padding-left: 20px;
    padding-top: 0px;
}
.contact-form textarea{
    width: 350px;
}
.contact-form input{
    padding-bottom: 20px;
    margin-bottom: 10px;
}
    
     }
     
     @media (max-width: 425px){
        .contact-form {
            padding-left: 0px;
            padding-top: 0px;
        } 
        .contact-form input{
            width:150px ;
            
        }
        .contact-form textarea{
            width: 150px;
            grid-area: 150px;
            
        }
     }
     @media(max-width: 375px){
        .contact-form textarea{
            max-width: 160px; 
        }
     }
     @media(max-width: 1024px){
        .contact-form textarea{
            width: 360px;
        }
        .contact-form input{
            padding-bottom: 20px;
            margin-bottom: 10px;
        }
     }
     
     /*end of contact me*/

     .footer{
         background-color: #c8d8e4;
         text-align: center;
     }
     
    